@font-face {
    font-family: 'Bebas';
    src: url('UTM Bebas.ttf');
}
fieldset {
    border: 2px solid #01579B;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #E1F5FE;
    max-width: 100%; 
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

fieldset:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

legend {
    color: #ffffff;
    font-family: 'Bebas', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid #01579B;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #0091EA;
}

.info-table td {
    color: red !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: large;
    line-height: 1.5;
}

.profile-info-cell strong {
    color: #01579B !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: large;
    line-height: 1.5;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    vertical-align: top;
}

img {
    width: 200px;           
    height: 200px;          
    object-fit: cover;
    border: 3px solid #01579B;
    border-radius: 5px;
    display: block;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

@media (max-width: 600px) {
    table, tr, td {
        display: block;
        width: 100% !important;
        box-sizing: border-box;
    }

    td {
        text-align: center; 
        white-space: normal !important;
    }

    img {
        width: 150px;
        height: 150px;
        border: 3px solid #01579B !important;
        margin: 0 auto 15px auto;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    
    legend {
        font-size: 1em;
        text-align: center;
        margin: 0 auto;
    }
}













