legend{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgb(18, 171, 222);
    margin-left: 6.5px;
}
.profile-details{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    line-height: 0.3;
}
fieldset{
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(163, 222, 242);

}

@media (max-width: 600px) {
    table, tr, td {
        display: block;
        width: 100% !important;
    }

    td {
        text-align: center; 
    }
    
    .profile-picture {
        margin: 0 auto;
        display: block;
    }
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}


